.games {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 50%;
  transition: width 150ms ease-in-out;

  @media (max-width: 48rem) {
    width: 90%;
    transition: width 150ms ease-in-out;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.query {
  width: 18rem;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 2rem;
  color: #fafafa;
  background-color: #2c2f33;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  opacity: 0;
  max-height: 0px;
  transition-property: opacity, max-height;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.clickTitle {
  text-align: center;
  color: #0070f0;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  z-index: 9999;
}

.platforms, .genres {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    opacity: 0;
  max-height: 0px;
  transition-property: opacity, max-height;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.platform, .genre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  

  label,
  input {
    cursor: pointer;
  }
}

.label:hover {
  color: #0070f0;
}

.submitBox {
  z-index: 9999;
}

.submit {
  width: 4rem;
  height: 2rem;
  background-color: #2c2f33;
  outline: none;
  border: none;
  color: #fafafa;
  border-radius: 0.5rem;
  cursor: pointer;
}
