.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
    text-align: center;
    margin-bottom: 64px;
    flex: 26%;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    @media (max-width: 48rem) {
        flex: 34%;
        transition: width 150ms ease-in-out;
    }

    @media (max-width: 26.5625rem) {
        flex: 100%;
        transition: width 150ms ease-in-out;
    }
}

.game:hover {
    color: #0070f0;
    transform: scale(1.05);
    transition: all 100ms ease-in-out;
}

.image {
    width: 70%;
}

.ratings {
    display: flex;
    width: 70%;

    div {
        height: 10px;
    }
}