.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.image {
    width: 70%;
}

.ratings {
    display: flex;
    width: 70%;

    div {
        height: 10px;
    }
}