.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%; 
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.image {
    width: 70%;
}